@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

.navBarContainer{
    display: flex;
    padding: 10px;
    /* background-color:rgb(252, 223, 36); */
    background-color: white;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0px;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navBarLogoContainer{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    
    
}
.navBarContainer a{
    text-decoration: none;
    color: #6c757d;
}
.navBarLogo img{
    width: 50px;
}
/* .navBarLogoText img{
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} */
.navBarLogoText{
        font-weight: 400;
        font-style: normal;
        font-size: 40px;

}
.navBarLogoBlackText,.navBarLogoYellowText {
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .navBarLogoYellowText{
    color:#8E793E;
  }
.navBarItems{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    font-size: 25px;
    padding: 5px 5px;
    transition: all 1s ease;
}
.navBarItem {
    cursor: pointer;
    color: black;
    /* Changed transition property */
    border: 2px solid white;
    position: relative;
    
    
}

  
.navBarItem a:active,.active{
    background-color: #8E793E;
    color: white !important;
    border-radius: 10px;

}


.navBarItem:after{
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    left: 3px;
    border-radius: 4px;
    background-color: #8E793E;
    bottom:0px;
    transition: width 0.3s ease;
}

.navBarItem:hover:after {
    width: 95%;
    color: black;
}

.navBarItem a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    outline: none;
}
.registerMemberNavBar{
    padding: 0px 5px;
}
.navBarMenu{
    display: none;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    outline: none;    
}
.navBarMenu div{
    width: 35px;
    border-bottom: 5px solid rgb(102,102,102);
    border-radius: 30px;
    transition: all 0.5s ease;
    outline: none;
}

.x.line1{
    transform: translate(0px,7.5px) rotate(45deg);
    outline: none;
}
.x.line2{
    display: none;
    outline: none;
}
.x.line3{
    transform: translate(-0px,-7.5px) rotate(-45deg);
    outline: none;
}
  

@media only screen and (max-width:1200px){
    .navBarMenu{
        display: flex;
    }
    .navBarItem:hover:after{
        width: 0;
    }
    .navBarItems{
        flex-direction: column;
        position: fixed;
        top:70px;
        right: 0px;
        width: 200px;
        transform: translate(-0px,0);
        height: 100vh;
        justify-content:flex-start;
        padding-top: 100px;
        gap: 30px;
        background-color: white;
    }

    body{
        overflow-x: hidden;
    }
    .navBarItems.navBarItemsToggle{
        transform: translate(200px,0);
    }
    .navBarItems{
        padding-left: 30px;
    }
    .registerMemberNavBar{
        padding-left: 10px;
    }
}

@media only screen and (max-width:380px){
    .navBarItems{
        top: 54px;
        
    }
    .navBarLogoContainer img{
        height: 30px;
    }
    .navBarLogo img{
        width: 30px;
    }
    .navBarLogoText{
        font-size: 25px;
    }
    .navBarMenu{
        gap: 7px;
    }
    .navBarMenu div{
        border-bottom: 4px solid rgb(102,102,102);
    }
}
  


