.recentEventContainer {
    border-radius: 50px;
    border: 3px solid #8E793E;
    width: 98%;
    padding: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    color:#8E793E;
    border-radius: 20px;
    margin: 10px auto;
}

.recentEventPoster img {
    border-radius: 20px;
    
    min-width: 300px;
    max-width: 400px;
   
}

.recentEventDetails {
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.recentEventName {
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    color: rgb(102, 102, 102);
}

.recentEventShortDesc {
    text-align: center;
}

.recentEventDesc {
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
    background-color: #8E793E;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.recentEventRegister button:active {
     background-color: #8E793E;
     color: white;
}

.recentEventRegister button {
    width: 100%;   
    background-color: white;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid white;
    outline: none;
    color: #8E793E;
    font-size: 20px;
    font-weight: 1000;
}

.recentEventRegisterClosed{
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    margin-top: 10px;
    color: red;
    background-color: white;
    padding: 5px 0px;
    border-radius: 10px;
}
.recentEventSeeYou{
    text-align: center;
    font-size: 20px;
}
.eventManDetails{
    font-size: 30px;
    text-align: center;
    
}

.eventManDetails div{
    background-color: #8E793E;
    color: white;
    margin: 10px 0px;
    border-radius: 30px ;
    padding: 10px;
}
.fontEventCard{
    padding:0px 10px;
}

@media only screen and (max-width:1000px){
    .recentEventContainer{
        padding-bottom: 5px;
    }
}